{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deiner - S</title>
  {% tailwind_css %}
</head>
<body class="min-h-screen flex flex-col bg-[#1C1B1D] font-mono overflow-x-hidden">

  <!-- Header -->
  <header class="h-[100px] text-white flex items-center">
    <nav class="flex gap-10 pl-20">
      <a href="#Stack" class="font-bold text-lg hover:text-gray-300">Stack</a>
      <a href="#Competencias" class="font-bold text-lg hover:text-gray-300">Competências</a>
      <a href="#Projetos" class="font-bold text-lg hover:text-gray-300">Projetos</a>
      <a href="#Formacao" class="font-bold text-lg hover:text-gray-300">Formação</a>
      <a href="#Experiencia" class="font-bold text-lg hover:text-gray-300">Experiência</a>
      <a href="#Contatos" class="font-bold text-lg hover:text-gray-300">Contatos</a>
    </nav>
  </header>

  <main class="flex-1 w-full text-white">

    <!-- Hero -->
    <section class="relative min-h-[90vh] w-full bg-[linear-gradient(30deg,#385EA7,#222B53)] overflow-hidden">   

      <div class="absolute flex flex-row z-10 ml-[3vw]  items-center text-3xl">
        {% include "components/Ativo.html" %}
        <p class="text-[#D64747] ml-5">let</p>
        <p class="ml-5">Start</p>
      </div>
        
      
      <div class=" grid min-h-[90vh] grid-cols-2  content-center">
        
        <div name="center" class="flex flex-col ml-[3vw] col-span-1">
          <div class=" w-[35vw] animate-fade-up animate-duration-[2000ms] animate-delay-1000 animate-ease-in">
            <h2 class="text-6xl font-bold">
              {{ texts.0.title }}
            </h2>
            <p class="mt-10 text-3xl">
              {{ texts.0.text }}
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="absolute bottom-6 left-1/2 -translate-x-1/2 w-8 h-8 
            border-b-4 border-r-4 border-white rotate-45">
    </div>


    <!-- Stack -->
    
    <div class="mx-auto mt-5 w-1/2 min-h-screen p-10">

      <section id="Stack">
        <h2 class="text-6xl font-bold">Stack</h2>
        
        <div  class="mt-10 space-y-10">
          
          <!-- Linguagens -->
          <div class="flex items-center justify-between">
            <h3 class="m-5 text-4xl font-bold">Linguagens</h3>
            <div class="flex flex-wrap justify-end gap-4">
              {% for sk in language %}
              {% include "components/skill_chart.html" with percent=sk.porce label=sk.name collor="#385EA8" %}
              {% endfor %}
            </div>
          </div>
          
          <!-- Frameworks -->
          <div class="flex items-center justify-between">
            <h3 class="m-5 text-4xl font-bold">Frameworks</h3>
            <div class="flex flex-wrap justify-end gap-4">
              {% for sk in frameworks %}
              {% include "components/skill_chart.html" with percent=sk.porce label=sk.name collor="#2D5E66" %}
              {% endfor %}
            </div>
          </div>
          
        </div>
        
        <hr class="my-10 border-gray-300">
      </section>

      
      <section id="Competencias">
        <h2 class="mt-10 text-6xl font-bold">
          Competências técnicas
        </h2>
        
        <div id="Comp" class="mt-10 grid grid-cols-2 gap-4 text-2xl">
          
          <div class="rounded-2xl bg-[#2D5E66] p-7">
            <h3 class="pb-5 text-3xl font-bold">
              Desenvolvimento de software
            </h3>
            <ul class="list-disc space-y-4 pl-6">
              {% for sk in skills %}
              <li>{{ sk.dev }}</li>
              {% endfor %}
            </ul>
          </div>
          
          <div class="rounded-2xl bg-[#6584C2] p-7">
              <h3 class="pb-5 text-3xl font-bold">
                Dados, Análise e Automação
            </h3>
            <ul class="list-disc space-y-4 pl-6">
              {% for sk in skills %}
              <li>{{ sk.data_science }}</li>
              {% endfor %}
            </ul>
          </div>
        
        </div>      
          <hr class="my-10 border-gray-300">
      </section>

      <section id="Projetos">
        <h2 class="mt-10 text-6xl font-bold">Projetos</h2>
         <div class=" flex-col w-full h-full py-3 mt-10 content-center">
            {% for project in projects %}
              <a href={{project.gitHub}}>
                <div class=" bg-[#385EA8] w-full h-[200px] p-10 rounded-2xl 
                              my-5 transition-all duration-500 ease-out 
                              hover:h-[190px] hover:w-[95%] m-auto">
                  <p class="text-2xl">{{project.title}}</p>
                  <p>{{project.text}}</p>          
                </div>
              </a>
            {% endfor %}
         </div>
         <hr class="my-10 border-gray-300">          
      </section>


      <section id="Formacao">
        <h2 class="mt-10 text-6xl font-bold">Formação acadêmica</h2>
         <div class=" flex-col w-full h-full py-3 mt-5 content-center">
            {% for formacao in formacoes %}
              
                <div class=" my-5 w-[90%] m-auto">
                  <P>{{formacao.data}}</P>
                  <p class="text-2xl">{{formacao.title}}</p>
                  <p>{{formacao.text}}</p>          
                </div>
              
            {% endfor %}
         </div>
         <hr class="my-10 border-gray-300">           
      </section>

      <section id="Experiencia">
        <h2 class="mt-10 text-6xl font-bold">Experiência</h2>
         <div class=" flex-col w-full h-full py-3 mt-5 content-center">
            {% for experiencia in experiencias %}
              
                <div class=" my-5 w-[90%] m-auto">
                  <P>{{experiencia.data}}</P>
                  <p class="text-2xl">{{experiencia.cargo}}</p>
                  <p class="text-2xl">{{experiencia.empresa}}</p>
                  <p class="pt-1">{{experiencia.descricao}}</p>
                </div>
              
            {% endfor %}
         </div>          
      </section>
    
    </div>
  </main>
  
  <footer class="flex h-[30vh] w-screen bg-[#111]">

    <div id="Contatos" class="justify-center content-center text-center w-full">
      <div class="flex flex-wrap justify-center">
        {% for contact in contacts %}
          <a class="after:content-['|'] after:mx-3 my-3 last:after:content-[''] hover:text-blue-400" href="{contact.link}">{{contact.text}}</a>
        {% endfor %}
      </div>

      <p class="mt-10">© 2026 • Deiner Rodrigues de Souza</p>
         
    </div>
    
  </footer>
</body>

</html>
